<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand rainbow-text fw-bold" href="#" style="font-size: 290%; font-variant: inherit;">POMMI FIREWORKS</a>
    <br><p class="rainbow-text"><b><i>COLOUR OUR DREAM</i></b></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">  

        <li class="nav-item">
          <a class="nav-link" href=""><b>HOME OF POMMI</b></a>
                    
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href = "/about-us"><b>ABOUT US</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>

<h1 style="color: red; font-family: 'Times New Roman', Times, serif;"> POMMI FIREWORKS,
NATTAR MANGALAM VILLAGE,<br>
AMATHUR , SIVAKASI,<br>
 <u>WHATSAPP NUMBER :</u> C.SELVAKUMAR [M.E] ,<b> +91 94880 01969</b>,  <b>+91 78679 33520</b>
 </h1>
 <app-triangle-canvas></app-triangle-canvas>
 