
<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand rainbow-text fw-bold" href="#" style="font-size: 290%; font-variant: inherit;">POMMI FIREWORKS</a>
    <br><p class="rainbow-text"><b><i>COLOUR OUR DREAM</i></b></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">  

        <li class="nav-item">
          <a class="nav-link" href=""><b>HOME OF POMMI</b></a>
                    
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href = "/contact-us"><b>CONTACT US</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>



<H2>I am <b style="color: rgb(205, 4, 175);">C.SELVAKUMAR M.E</b>, <i style="color: blue; background-color: yellow;">  Welcome to Pommi Fireworks</i> <b style="background-color: red;"> [Started in 2010] </b>, Sivakasi, Your go to destination for dazzling celebrations and unforgettable moments! with over a decade of
    experience in crafting safe,spectacular, and innovative fire works,we light up your sky with joy and wonder
</H2><br>
<h3>From Weddings and Festivals like<u style="background-color: orange;"> New Years and Diwali </u>, Our handpicked Collections are designed to suit every occasion and every budget. Our factory team workers ensures all products meet the highest safety standards, so customer light up our <b style="color: red;">POMMI FIREWORKS</b> products without worry!!!!!.</h3>


<app-flowerpots>
  

  </app-flowerpots>
