<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand rainbow-text fw-bold" href="#" style="font-size: 290%; font-variant: inherit;">POMMI FIREWORKS</a>
    <br><p class="rainbow-text"><b><i>COLOUR OUR DREAM</i></b></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> 

        <li class="nav-item">
          <a class="nav-link" href=""><b>HOME OF POMMI</b></a>                    
        </li>           
        <li class="nav-item"><a class="nav-link" href="/about-us"><b>ABOUT US</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href = "/contact-us"><b>CONTACT US</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-circle-canvas>
</app-circle-canvas>
    