<div style="position: relative; width: 1510px; height: 1100px;">
  <!-- Canvas background -->
  <canvas #myCanvas width="1510" height="1100" style="position: absolute; top: 0; left: 0; z-index: 0;">
    
  </canvas>
  
    <app-color5></app-color5> 
    
  
  <br>

  <!-- HTML table on top of canvas -->
  <table style="position: absolute; top: 20px; left: 650px; z-index: 100; border: 1px solid black;" class="bg-danger">
    <thead class="table-dark">
        <tr>
            <th style="font-size: 146%; color: rgb(255, 251, 0); text-shadow: 12px white; text-align: center; "><u>POMMI PRODUCTS</u></th>
        </tr>
    </thead>
    <tbody class="tbody1">
            <tr>
            <td class="tbody">4" CHOTTA BHEEM</td></tr>
            <tr><td>28 TURKEY CHORSA</td></tr>
            <tr><td class="tbody">28 GOA CHORSA</td></tr>
            <tr><td>RED BIJILLI [100 PIECES]</td></tr>
            <tr><td class="tbody">RED BIJILLI [50 PIECES]</td></tr>
            <tr><td>STRIPPED BIJILLI [100 PIECES]</td></tr>
            <tr><td class="tbody">STRIPPED BIJILLI [50 PIECES]</td></tr>
            <tr><td>100 WALA</td></tr>
            <tr><td class="tbody">200 WALA</td></tr>
            <tr><td>1000 WALA</td></tr>
            <tr><td class="tbody">2000 WALA</td></tr>
            <tr><td>5000 WALA</td></tr>
           <tr><td class="tbody">ATOM BOMB</td></tr>
           <tr><td>HYDROGEN BOMB</td></tr>
           <tr><td class="tbody">GROUND CHAKKAR BIG</td></tr>
           <tr><td>GROUND CHAKKAR SPECIAL</td></tr>
           <tr><td class="tbody">GROUND CHAKKAR DELUXE</td></tr>
           <tr><td>FLOWER POTS SMALL</td></tr>
           <tr><td class="tbody">FLOWER POTS BIG</td></tr>
           <tr><td>FLOWER POTS SPECIAL</td></tr>
           <tr><td class="tbody">FLOWER POTS ASOKHA</td></tr>
           <tr><td>COLOUR KOTTI</td></tr>
           <tr><td class="tbody">1.5" TWINKLING STAR</td></tr>
           <tr><td>4" TWINKLING STAR</td></tr>
           <tr><td class="tbody">BABY ROCKET</td></tr>
           <tr><td>ROCKET BOMB</td></tr>
           <tr><td class="tbody">COLOUR ROCKET</td></tr>
           <tr><td>SUPER ROCKET</td></tr>
           <tr><td class="tbody">LUNIX EXPRESS</td></tr>
           <tr><td>TWO SOUND ROCKET</td></tr>
           <tr><td class="tbody">THREE SOUND ROCKET</td></tr>

        
    </tbody>
   </table>
</div>